#!/bin/bash
#
# Inspired by https://github.com/kylemanna/systemd-utils/blob/master/onfailure/onfailure.sh
#
# Simple systemd script used to be called via something like:
#
# Example Unit section of a service file:
#
# [Unit]
# ...
# Onfailure=oskari-error-notify@%i.service
#
#
# sudo nano /etc/systemd/system/oskari-error-notify@.service
# oskari-error-notify@.service:
#
# [Unit]
# Description=OnFailure for %i
#
# [Service]
# Type=oneshot
# ExecStart={{ oskari_dir }}/error-notify.sh %i

SERVICE=${1:-unknown}
CHAT_COLOR=#F35A00
EXTRA_MSG="Restarting in 30 seconds..."

{% if slack_api_url %}
# Post to slack.com
curl --data "{ \"channel\" : \"#{{ slack_channel }}\", \"attachments\": [{\"fallback\": \"Service warning!\",\"color\": \"$CHAT_COLOR\",\"pretext\": \"Service just triggered a failure state! $EXTRA_MSG\",\"fields\": [{\"title\": \"Server\",\"value\": \"$HOSTNAME\",\"short\": true},{\"title\": \"Component\",\"value\": \"$SERVICE\",\"short\": true}]}] }" {% if use_proxy %}--proxy 'http://{{ server_proxy }}:{{ server_proxy_port }}'{% endif %} '{{ slack_api_url }}'
{% endif %}
{% if rocketchat_api_url %}
# Post to rocketchat
curl -X POST -H 'Content-Type: application/json' --data "{ \"username\": \"Jenkins\", \"text\": \"Service warning!\", \"attachments\": [{\"title\": \"Service down!\",\"text\": \"Service just triggered a failure state! $EXTRA_MSG\",\"color\": \"$CHAT_COLOR\",\"fields\": [{\"title\": \"Server\",\"value\": \"$HOSTNAME\",\"short\": true},{\"title\": \"Component\",\"value\": \"$SERVICE\",\"short\": true}]}]}" '{{ rocketchat_api_url }}'
{% endif %}