[Unit]
Description={{ oskari_component }}
After=network.target
{% if use_error_notifier %}
OnFailure=oskari-error-notify@%i.service
{% endif %}


[Service]
Type=simple
WorkingDirectory={{ oskari_dir }}/{{ oskari_component }}/
EnvironmentFile=/etc/sysconfig/{{ oskari_component }}
ExecStart={{ java_cmd }} $JAVA_OPTS {% if use_proxy %}$PROXY{% endif %} $MEMORY $COMP_OPTS -jar {{ jetty_home }}/start.jar $JETTY_OPTS
User=jetty
Group=oskari
# 143 is triggered with systemctl stop - consider as success and not failure
SuccessExitStatus=143
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target