<usernamePasswordFilter>
  <id>-919598e:1677e41cb26:-7ff2</id>
  <name>form</name>
  <className>org.geoserver.security.filter.GeoServerUserNamePasswordAuthenticationFilter</className>
  <passwordParameterName>password</passwordParameterName>
  <usernameParameterName>username</usernameParameterName>
</usernamePasswordFilter>